{{> include/head}}
{{ #if team }}
    <br/>

    <h4>Members of "{{team.teamname}}"</h3>.

    {{#each team.members}}
        <p>{{this.displayname}}</p>
    {{/each}}
    <br/>

    {{#if isOwner}}
        <form action="/api/delete-team">
            <input type="submit" value="Delete Team"/>
        </form>
    {{else}}
        <form action="/api/leave-team">
            <input type="submit" value="Leave Team"/>
        </form>
    {{/if}}

{{ else }}
    {{ #if user}}
    <div>
        <p>Hi {{ user.displayname }}. You do not have a team. Create one below.</p>

        <form action="/api/create-team">
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
            <input type="text" name="team_name" placeholder="Team Name"/>
            <button type="submit" value="Create Team">Submit</button>
        </form>
        </div>
    {{ else }}
        You are not logged in.
        {{> login}}
    {{/if}}
{{/if}}
{{> include/foot}}