<html>
{{ #if team }}
    {{! TEAM! }}
    Hi {{user.display_name}}. You are a member of team {{team.team_name}}.
    <br/>

    Members of {{team.team_name}}:
    <br/>

    {{#each team.members}}
        {{this.display_name}}
    {{/each}}
    <br/>

    {{#if isOwner}}
        <form action="/api/delete-team">
            <input type="submit" value="Delete Team"/>
        </form>
    {{else}}
        <form action="/api/leave-team">
            <input type="submit" value="Leave Team"/>
        </form>
    {{/if}}

    Upload bot:
    <form action="/api/upload-bot" enctype="multipart/form-data" method="POST">
        <input type="file" name="bot" accept=".py"/>
        <button type="submit">Submit</button>
    </form>

{{ else }}
    {{ #if user}}
        Hi {{ user.display_name }}. You do not have a team. Create one below.

        <form action="/api/create-team">
            <input type="text" name="team_name" placeholder="Team Name" pattern="[a-zA-Z ]*"/>
            <input type="submit" value="Create Team"/>
        </form>
    {{ else }}
        You are not logged in.
        {{> login}}
    {{/if}}
{{/if}}
</html>
